In [22]:
import pandas as pd

# Open the CSV file
f = open("BRK-A.csv", "r")

# Read the CSV file using pandas
df = pd.read_csv(f)

# Close the file after reading
f.close()

# Now you can work with the DataFrame 'df'

In [23]:
df

           Date      Open      High       Low     Close  Adj Close  Volume
0    2023-02-24  456300.0  464013.0  454955.0  461705.0   461705.0    4600
1    2023-02-27  462910.0  463950.0  458090.0  461912.0   461912.0    6500
2    2023-02-28  462524.0  464530.0  459970.0  463525.0   463525.0    4000
3    2023-03-01  460829.0  463618.0  458442.0  462435.0   462435.0    4200
4    2023-03-02  461964.0  467007.0  457179.0  466790.0   466790.0    4000
..          ...       ...       ...       ...       ...        ...     ...
246  2024-02-16  607983.0  612395.0  605721.0  610086.0   610086.0   12600
247  2024-02-20  611884.0  619237.0  611020.0  613140.0   613140.0   20300
248  2024-02-21  613998.0  617550.0  612052.0  617011.0   617011.0   12700
249  2024-02-22  620749.0  626947.0  617661.0  625510.0   625510.0   13300
250  2024-02-23  629210.0  632820.0  626900.0  628930.0   628930.0   14200

[251 rows x 7 columns]

In [24]:
df['Date']=pd.to_datetime(df['Date'])

In [25]:
df = df.sort_values(by='Date', ascending=False)

In [26]:
df

          Date      Open      High       Low     Close  Adj Close  Volume
250 2024-02-23  629210.0  632820.0  626900.0  628930.0   628930.0   14200
249 2024-02-22  620749.0  626947.0  617661.0  625510.0   625510.0   13300
248 2024-02-21  613998.0  617550.0  612052.0  617011.0   617011.0   12700
247 2024-02-20  611884.0  619237.0  611020.0  613140.0   613140.0   20300
246 2024-02-16  607983.0  612395.0  605721.0  610086.0   610086.0   12600
..         ...       ...       ...       ...       ...        ...     ...
4   2023-03-02  461964.0  467007.0  457179.0  466790.0   466790.0    4000
3   2023-03-01  460829.0  463618.0  458442.0  462435.0   462435.0    4200
2   2023-02-28  462524.0  464530.0  459970.0  463525.0   463525.0    4000
1   2023-02-27  462910.0  463950.0  458090.0  461912.0   461912.0    6500
0   2023-02-24  456300.0  464013.0  454955.0  461705.0   461705.0    4600

[251 rows x 7 columns]

In [27]:
df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,251,251.000000,251.000000,251.000000,251.000000,251.000000,251.000000
mean,2023-08-24 12:48:45.896414464,525292.143426,529244.677291,521298.609562,525343.350598,525343.350598,7510.358566
min,2023-02-24 00:00:00,446749.000000,455608.000000,442363.000000,442765.000000,442765.000000,3900.000000
25%,2023-05-24 12:00:00,499531.000000,504548.500000,495143.500000,500150.000000,500150.000000,6200.000000
50%,2023-08-24 00:00:00,528765.000000,531300.000000,524000.000000,527960.000000,527960.000000,7300.000000
75%,2023-11-21 12:00:00,546967.000000,550811.500000,543487.500000,547127.500000,547127.500000,8300.000000
max,2024-02-23 00:00:00,629210.000000,632820.000000,626900.000000,628930.000000,628930.000000,20300.000000
std,NaN,36043.106837,35888.994892,36263.665060,36289.845271,36289.845271,2183.806830

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251 entries, 250 to 0
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       251 non-null    datetime64[ns]
 1   Open       251 non-null    float64
 2   High       251 non-null    float64
 3   Low        251 non-null    float64
 4   Close      251 non-null    float64
 5   Adj Close  251 non-null    float64
 6   Volume     251 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 15.7 KB

In [29]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [30]:
import pandas as pd
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error

# Preprocessing the dataframe
df['Date'] = pd.to_datetime(df['Date']) # Convert Date column to datetime
df = df.set_index('Date')  # Set Date column as index

# Extracting the time series of Close prices
close_series = df['Close']

# Fit a SARIMA model
model = SARIMAX(close_series, order=(1, 1, 1), seasonal_order=(1, 1, 1, 12), maxiter=1000, method='lbfgs')

result = model.fit()

# Make predictions
forecast = result.forecast(steps=len(df))

# Evaluate the model
mse = mean_squared_error(close_series, forecast)
print("Mean Squared Error (SARIMA):", mse)

/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/statespace/representation.py:374: FutureWarning: Unknown keyword arguments: dict_keys(['maxiter', 'method']).Passing unknown keyword arguments will raise a TypeError beginning in version 0.15.
  warnings.warn(msg, FutureWarning)
 This problem is unconstrained.

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =            5     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  1.22899D+01    |proj g|=  1.04881D+01

At iterate    5    f=  9.61147D+00    |proj g|=  1.05322D-02

At iterate   10    f=  9.61049D+00    |proj g|=  7.91788D-02

At iterate   15    f=  9.60354D+00    |proj g|=  1.18596D-02

At iterate   20    f=  9.60215D+00    |proj g|=  3.97574D-03

At iterate   25    f=  9.60194D+00    |proj g|=  2.95744D-03

At iterate   30    f=  9.60193D+00    |proj g|=  2.50507D-03

At iterate   35    f=  9.60188D+00    |proj g|=  3.62335D-03

 Bad direction in the line search;
   refresh the lbfgs memory and restart the iteration.

At iterate   40    f=  9.60187D+00    |proj g|=  5.26365D-05

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
    5     41     80      2     0     0   5.264D-05   9.602D+00
  F =   9.6018700671921557

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH
Mean Squared Error (SARIMA): 8622408767.962551

/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
/home/diwas/Documents/scraping/stock/venv/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(